/* a lien total */
.rich-link-card {
    border: 2px solid purple !important;
    margin: 0px 0 !important;
    border-radius: 10px !important;
    width: 100% !important;
    display: flex !important;
    text-decoration: none !important;
    background-color: rgba(255, 255, 255, 0.274) !important;
  }
  /* div  container du lien total */
  .rich-link-card-container {
    position: relative !important;
  }
  
  /* bordure inférieur du lien total */
  .rich-link-card-container::after {
    display: none !important;
  }
  
  /* div container de l'image */
  .rich-link-card .rich-link-image-container {
    height: 100px !important;
    width: 25% !important;
    min-width: 80px !important;
    overflow: hidden !important;
    border-right: 1px solid purple !important;
    border-radius: 10px !important;
  }
  
  /* div avec l'image en background */
  .rich-link-card .rich-link-image {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding-bottom: 100px !important;
    background-color: grey !important;
  }
  
  /* div container de l'ensemble des textes */
  .rich-link-card .rich-link-card-text {
    padding: 7px !important;
    width: 75% !important;
    overflow: hidden !important;
  }
  
  /*  h1 titre de la carte */
  .rich-link-card .rich-link-card-title {
    font-family: 'Comic Sans MS';
    font-size: 14px !important;
    margin: 0 0 4px 0 !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    color: black !important;
  }
  
  /* p description de la carte */
  .rich-link-card .rich-link-card-description {
    font-family: 'Tahoma' !important;
    font-size: 12px !important;
    margin: 0 !important;
    color: black !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
  }
  
  /* p lien de la carte */
  .rich-link-card .rich-link-href {
    font-family: 'Tahoma' !important;
    font-size: 12px !important;
    margin: 0 !important;
    color: purple !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
  }
  
